<h1> URL's Shortener Home </h1>

<ul id="url_list">
<% @urls.each do |url| %>

<li>ID: <%= url.id %><br>
	URL: <%= url.url %><br> 
	Created at: <%= url.created_at.mday %>/
	<%= url.created_at.mon %>/
	<%= url.created_at.year %><br>
	Visits: <%= url.visits %> </li><br>
<% end %>
</ul>

