<h1> Show Contact </h1>

<%= contacts.id %> 

	<li>Name: <%= contacts.name %></li>
	<li>Address: <%= contacts.address %></li>
	<li>Phone: <%= contacts.phonenumber %></li>
	<li>Email: <%= contacts.email %></li>
	<br>


