<h1> Contacts Index </h1>

<div class = "home_bar">
<%= link_to 'Home', addressbook_contacts_path%><br>
</div>
 
	<% @contacts.each do |contact| %> 

<div class = "contact_table">
<table>
		<tr>
		Id: <%= contact.id %><br>
		Name: <%= contact.name %><br>
		Address: <%= contact.address %><br>
		Phone: <%= contact.phonenumber %><br>
		Email: <%= contact.email %>
		</tr>
		<br><%= link_to 'Edit Contact', edit_addressbook_contact %> 
</table>
</div>
<% end %>

<%= link_to 'Index', addressbook_contacts_path %> 

<div class = "site_map">
<ul> 
	<li><a href="/sitemaps/a"></a>
	</li>
	<li><a href="/sitemaps/b"></a>
	</li>
	<li><a href="/sitemaps/c"></a>
	</li>
</ul>
</div>



